.stepscontainer{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    height: 50px;
    align-items: center;
    margin-bottom: 25px;
    padding: 0 20px;
    color: #fff;
}
.txtsel{
    cursor: pointer;
    font-weight: 800;
}
.btn{
    margin: 20px auto;
    height: 40px;
    width: 250px;
    background-color: dimgrey;
    color: #fff;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
}